@page "/"
@inject IZaptecService _zaptec;

<PageTitle>Home</PageTitle>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Period</th>
            <th>Energy</th>
            <th>Cost</th>
        </tr>
    </thead>
    @foreach (ChargeCostSummaryViewModel summary in _summaries)
    {
        <tr>
            <td>@summary.Period</td>
            <td align="right">@summary.Energy kWh</td>
            <td align="right">@summary.Cost kr.</td>
        </tr>
    }
</table>

@code {
    private IReadOnlyCollection<ChargeCostSummaryViewModel> _summaries = [];

    protected override async Task OnInitializedAsync()
    {
        IReadOnlyCollection<ChargeCostSummary> summaries = await _zaptec.GetChargeHistoryCostSumamryAsync("quarter");
        _summaries = summaries.Select(x => new ChargeCostSummaryViewModel(x)).ToList();
    }
}